# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.pck filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
godot_templates/ios.zip filter=lfs diff=lfs merge=lfs -text
.github/godot_templates/ios.zip filter=lfs diff=lfs merge=lfs -text
.github/templates/ios.zip filter=lfs diff=lfs merge=lfs -text
